body { /* Встановлення основного шрифту */
    font-family: Arial, sans-serif;
}

header { /* Налаштування заголовку */
    text-align: center; /* Вирівнювання тексту в заголовку по центру */
    text-decoration: none;
}

img { /* Зображення */
    border-radius: 20px; /* Закруглення кутів у зображеннь */
}

a { /* Налаштування посилань на сторінці */
    text-decoration: none; /* Видалення підкреслення у посилань*/
}

header nav ul { /* Налаштування навігаційної панелі */
    list-style: none;
    overflow: hidden; /* Вимикання елементів, які можуть виходити за межі контейнера */
    display: flex; /* Вмикання гнучкого відображення елементів */
    justify-content: space-evenly; /* Рівномірний розподіл елементів по ширині */
    align-items: center; /* Вирівнювання елементів по вертикалі */
    flex-wrap: nowrap; /* Заборона переносу елементів на новий рядок */
    padding: 0; /* Прибирання внутрішніх та зовнішніх відступів */
    margin: 0;
}

header nav ul li a { /* Видалення підкреслення та зміна кольору посилань у навігаційній панелі */
    text-decoration: none; 
    color: #000000;
}

#practice-work ul, #lab-work ul { /* Налаштування посилань в розділах Практичні та Лабораторні роботи */
    list-style: none;
    padding: 0; /* Прибирання внутрішніх та зовнішніх відступів */
    margin: 0; 
    text-align: center; /* Вирівнювання тексту по центру */
    display: block; /* Відображення списку як блочного елементу */
}

#about-me { /* Налаштування секції Про мене */
    display: flex; /* Використання гнучкого контейнеру */
    align-items: center; /* Вирівнювання елемента по вертикалі */
    margin-left: 25%; /* Зсув блоку текста вправо */
    text-decoration: none; /* Видалення підкреслення посилань */
}

#about-me p { /* Налаштування тексту до зображення в секції Про мене */
    padding: 20px; /* Додає внутрішні відступи до тексту */
}

#practice-work h2, #lab-work h2 { /* Налаштування заголовку в секціях Практичні та Лабораторні роботи */
    margin-top: 5%;
    text-align: center;
    text-decoration: none;
}

footer { /* Налаштування футеру */
    margin-top: 5%;
    text-align: center;
}