body { /* Вставнолення шрифту сторінки, відцентровування тексту, та встановлення фонового градієнту  */
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background: #ffffff;
    background: radial-gradient(circle,#ffffff 43%, #d9e6ff 100%);
}

h1 { /* Текст заголовок */
    margin-top: 3%;
    text-align: center;
}

form { /* оформлення форми та встановлення тіні */
    max-width: 425px;
    margin: auto;
    padding: 20px;
    border: 1px solid #000000;
}

label { /* Налаштування заголовків в формі */
    display: block;
    margin-top: 10px;
}

input, select { /* Оформлення відповідей в формі */
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid;
}

input[type="submit"] { /* Оформлення кнопки відправки заповненої форми */
    margin-top: 15px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover { /* Тінь при натиску кнопки відправки форми */
    background-color: #969696;
}

a { /* Оформлення посилання на головну сторінку */
    margin-top: 4%;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
}