// Шрифти
$font-family-base: 'Montserrat', sans-serif;
$font-family-year: 'Great Vibes', cursive;
$font-family-text: 'Marck Script', cursive;
$font-family-text2: 'Great Vibes', cursive;

// Кольори
$bg-body: #ffffff;
$bg-card: #f6eace;
$border-card: #e7e5e4;
$shadow-card: #00000026;

$color-yearnumber: #2c2c2c;
$color-text: #1c1917;
$color-text2: #44403c;

// Розміри
$card-padding-mobile: 2rem 1.5rem;
$card-padding-desktop: 4rem;
$gap-base: 1.5rem;

body {
    margin: 0;
    padding: 1rem;
    background-color: $bg-body;
    min-height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-family: $font-family-base;
}

/* Секція card */
.card {
    box-sizing: border-box;
    background-color: $bg-card;
    width: 100%;
    max-width: 48rem;
    box-shadow: 0 25px 50px -12px $shadow-card;
    padding: $card-padding-mobile;
    
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap: $gap-base;
    
    text-align: center;
    position: relative;
    border: 1px solid $border-card;
    border-radius: 10%; 

    @media (min-width: 768px) {
        padding: $card-padding-desktop;
        min-height: 32rem; 
        gap: 2rem;
    }

    &__group {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        width: 100%;
    }

    &__image-wrapper {
        margin-bottom: 0.5rem;
        width: 10rem;
        height: 10rem;
        border-radius: 10%;
        overflow: hidden;

        @media (min-width: 768px) {
            width: 12rem;
            height: 12rem;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &__year {
        margin: 0;
        font-family: $font-family-year;
        font-size: 4rem;
        color: $color-yearnumber;
        line-height: 1;
        font-weight: 400;

        @media (min-width: 768px) {
            font-size: 7rem;
        }
    }

    &__title {
        margin: 0;
        font-family: $font-family-text;
        font-size: 2rem;
        color: $color-text;
        font-weight: 400;

        @media (min-width: 768px) {
            font-size: 2.5rem;
        }
    }

    &__description {
        margin: 0;
        font-family: $font-family-text2;
        font-size: 1.5rem;
        color: $color-text2;
        line-height: 1.4;
        max-width: 32rem;
        padding: 0 0.5rem;
        letter-spacing: 0.02em; 

        @media (min-width: 768px) {
            font-size: 1.75rem;
        }
    }
}